// Основные цвета
$primary-color: #BABAD6;
$secondary-color: #ef73be;
$third-color: #ecc2db;
$fourth-color: #81728c;
$fifth-color: #ff96d5;

// Пресеты для фона
$default-background: $primary-color;
$highlighted-background: $secondary-color;
$light-background: $third-color;
$book-card-background: $fifth-color;

// Пресеты для заголовков
$default-header: $primary-color;
$dark-header: $fourth-color;
$highlighted-header: $secondary-color;