// Основные цвета
$primary-color: #BABAD6;
$secondary-color: #ef73be;

// Оттенки цветов
$light-primary: lighten($primary-color, 10%);
$dark-primary: darken($primary-color, 10%);
$light-secondary: lighten($secondary-color, 10%);
$dark-secondary: darken($secondary-color, 10%);

// Пресеты для фона
$default-background: $primary-color;
$light-background: $light-primary;
$highlighted-background: $secondary-color;

// Пресеты для заголовков
$default-header: $primary-color;
$light-header: $light-secondary;
$highlighted-header: $dark-primary;