@import '../../../app/assets/colors/variables.scss';

.book-card {
  background-color: $book-card-background;
  max-width: 90%;
  margin: 2% 5%;
  display: flex;
}

.card-content {
  display: flex;
  align-items: center;
}

.book-image {
  width: 30%; 
  height: auto;
  margin-right: 16px; 
}

.text-content {
  flex: 1;
  padding: 16px;
}

.title {
  font-weight: bold;
}

.author {
  font-size: smaller;
  font-style: italic;
  margin-top: 5px;
}

.description {
  margin-top: 10px;
}

.genre {
  margin-top: 5px;
}

.status {
  margin-top: 10px;
}