@import '../../../app/assets/colors/variables.scss';

.main-container {
  height: 100vh;
  overflow-y: auto;
  background-color: $light-background;
}

.table-container {
  width: calc(96% - 4px);
  margin: 2%;
  margin-top: 1%;
  border: 2px solid $fourth-color;
  border-radius: 1em;
  overflow: hidden;
}

.button-container {
  height: 3.5em;
}

.mat-table {
  border-collapse: separate;
  border-spacing: 0;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.mat-paginator {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

::ng-deep .table-container{
  .mat-mdc-paginator-page-size-select {
    height: auto;
    padding: 1em;
  }
}

.add-button, .export-button, .import-button {
  margin: 1em 0 0 3.5em;
  border-radius: 2em;
  background-color: $third-button-color;
}

.add-button:hover, .export-button:hover, .import-button:hover {
  border: 1px solid $fourth-color;
}

.action-button {
  margin: .5em;
  border-radius: 2em;
}

input[type="file"] {
  display: none;
}