@import '../../../assets/colors/variables.scss';

.table-container {
  width: calc(96% - 4px);
  margin: 2%;
  margin-top: 1%;
  border: 2px solid $fourth-color;
  border-radius: 1em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

.button-container {
  height: 3.5em;
  display: flex;
  align-items: center;

  .add-button, .export-button, .import-button {
    margin: 1em 0 0 3.5em;
    border-radius: 2em;
    background-color: $fourth-color;
    color: $sixth-color;
  }

  .filter {
    margin: 1em 0 0 3.5em;
    padding-left: 10px;
    height: 2.5em;
    border-radius: 2em;
    border: none;
    outline: none;   
  }
}

.mat-table {
  border-collapse: separate;
  border-spacing: 0;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.mat-paginator {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

::ng-deep .table-container{
  .mat-mdc-paginator-page-size-select {
    height: auto;
    padding: 1em;
  }
}

.action-button {
  margin: .5em;
  border-radius: 2em;
}

fa-icon {
  color: $fourth-color;
}

input[type="file"] {
  display: none;
}

.noDataMathcing {
  padding: 1em;
}