<div class="panel">
  <h2 mat-dialog-title>Add Book</h2>
  <button mat-icon-button mat-dialog-close class="xmark">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="add-book-form">
  <div class="book-container">
    <mat-form-field>
      <mat-label>Book Title</mat-label>
      <input matInput placeholder="Enter the title of the book" [(ngModel)]="book.title">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Writer's Name</mat-label>
      <input matInput placeholder="The name of the author of the book" [(ngModel)]="book.author">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Choose your genre</mat-label>
      <mat-select [(ngModel)]="book.genre" name="genre">
        @for (genre of genres; track genre) {
          <mat-option [value]="genre">{{genre}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Short Description</mat-label>
      <textarea matInput placeholder="Short Description of the book" [(ngModel)]="book.description" rows="3"></textarea>
    </mat-form-field>
  </div>
  <div class="book-cover">
    <img src="{{book.imageUrl}}" alt="">
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="submit(book)" class="submit-button">Submit</button>
  <button mat-button mat-dialog-close class="cancel-button">Cancel</button>
</div>