@import '../../../assets/colors/variables.scss';

.language-switcher-dropdown {
    font-size: 2.5em;
    margin-right: 3em;
    margin-left: 2em;
    cursor: pointer;
}

fa-icon {
    color: $fourth-color;
}