<div class="language-switcher-dropdown">
  <fa-icon [matMenuTriggerFor]="menu" class="switcher-dropdown-content" [icon]="langSwitcherIcon"></fa-icon>
      <mat-menu #menu="matMenu" >
        <div mat-menu-item (click)="translatorService.onLanguageChange('ru')">{{ translatorService.getTranslation('navigationPanel.dropdownLangItems.RU') }}</div>
        <div mat-menu-item (click)="translatorService.onLanguageChange('en')">{{ translatorService.getTranslation('navigationPanel.dropdownLangItems.EN') }}</div>
      </mat-menu>
</div>