<div class="search-container">
    <input type="text" [(ngModel)]="searchText" (input)="searchBooks()" class="searchEngine"
    [class.has-results]="searchResults.length > 0" [placeholder]="translatorService.getTranslation('navigationPanel.searchPlaceholder')">
    <div class="search-icon">
        <fa-icon [icon]="magnifier"></fa-icon>
    </div>
    <div class="search-results" *ngIf="searchResults.length > 0">
        <li *ngFor="let book of searchResults" (click)="openBookPage(book)" class="search-result">
          {{ book.title }} <small>{{ book.author }}</small>
        </li>
    </div>
</div>