.navigation-panel {
  background-color: #BABAD6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 124px;
}

.user-icon {
  margin-right: 100px;
  font-size: 50px;
}

.user-dropdown {
  display: flex;
  justify-content: center;
  height: 55px;
  width: 50px;
}

.dropdown-item {
  font-size: 20px;
}

.logo {
  position: absolute;
  left: 0;
}

::ng-deep{
  mat-form-field{
    display: flex;
    padding-top: 20px;
    padding-right: 100px;
    height:70px;
    width: 80px;
  }
}