.navigation-panel {
  background-color: aqua;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 120px;
}

.user-icon {
  margin-right: 100px;
  font-size: 55px;
}

.user-dropdown {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 50px;
}

.dropdown-item {
  font-size: 20px;
}

.logo {
  position: absolute;
  left: 0;
}

::ng-deep{
  mat-form-field{
    display: unset;
    padding-right: 100px;
    max-height:70px;
    width: 80px;
  }
}