<div class="search-container">
    <input type="text" [(ngModel)]="searchText" (input)="searchBooks()" class="searchEngine"
    [class.has-results]="searchResults.length > 0 && isShowResults" [placeholder]="'navigationPanel.searchPlaceholder' | translate">
    <div class="search-icon">
        <fa-icon [icon]="magnifier"></fa-icon>
    </div>
    <div class="search-results" *ngIf="searchResults.length > 0 && isShowResults">
        <li *ngFor="let book of searchResults" class="search-result" (click)="navigateTo('/book/' + book.id)">
          {{ book.title }} <small>{{ book.author }}</small>
        </li>
    </div>
</div>